<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Search Results</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Montserrat|Ubuntu" rel="stylesheet">

  <!-- Css stylesheet -->

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" href="css/searchstyles.css">

  <!-- Font Awesome -->
  <script defer src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>

  <!-- Bootstrap Scripts -->
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>


</head>
<h3>Here are your Results!!</h3>
<div class="row profile">
  <div class="col-md-3">
    <div class="case-sidebar">
      <div class="case-usertitle">
        <div class="case-usertitle-name">
          <%=caseBet%>
        </div>
      </div>
      <!-- <div class="case-userbuttons">
        <form action="/search.html" method="post">
          <button class="btn btn-large btn-danger" type="submit" name="button">Log Out</button>
        </form> -->
     </div>
      <div class="case-usermenu">
        <ul class= >

          <li>
              Case Number:<%=cnn%>
          </li>
          <li>
              Case status :<%=cstatus%>
          </li>
          <li>
               Case Type:<%=caseType%>
          </li>
          <li>
              <!-- <i class="glyphicon glyphicon-bookmark"></i> -->
              Date Of Filling :<%=dateOfFile%>
          </li>
          <li>
              Date Of Registeration :<%=dateOfRegister%>
          </li>

        </ul>
      </div>
      <!-- END MENU -->
    </div>
  </div>
  <div class="col-md-9">
    <div class="case-content">
      <img src="images/<%=imageName%>.png" alt="Case Search Image"></img>
    </div>
  </div>
</div>


<%- include("footer") -%>
